.prsSeccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}
.ImgSeccion img {
    width: 15vw;
}
.ImgSeccion p {
    text-align: center;
    font-family: Comic Sans MS;
    font-size: 22px;
    font-weight: 900;
}
.ImgNumeros img {
    width: 80vw;
}
.HR1 {
    border: 2px solid yellow;
    width: 85%;
    height: 1px;
    margin: 30px auto;
    background-color: yellow;
    box-shadow: 0px 0px 20px 1px yellow;
}
.HR5 {
    border: 1px solid rgba(0, 81, 255, 0.226);
    width: 85%;
    margin: 40px auto;
    height: 1px;
    background-color: rgba(0, 81, 255, 0.226);
    box-shadow: 0px 0px 20px 1px rgba(0, 81, 255, 0.226);
  }

/* --------------Estilos por seccion-------------- */
.Matematicas {
    display: flex;
    align-items: center;
    background-color: #38b6ff;
    padding-bottom: 100px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contenidoMat {
    display: flex;
    flex-direction: column;
    /* margin-right: 50px; */
}

.Matematicas h2 {
    background-color: violet;
    width: 320px;
    /* height: 35px; */
    font-family: Comic Sans MS;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    border-radius: 20px;
    padding: 8px;
}

.Matematicas p {
    font-family: Comic Sans MS;
    font-size: 17px;
    width: 330px;
    padding: 0 0 0 5px;
}

.Matematicas img {
    width: 14%;
    height: auto;
    border: 1px solid gray;
    border-radius: 10px;
}

/*---------------------------------------------------*/
.Contar {
    display: flex;
    align-items: center;
    background-color: #38b6ff;
    margin-bottom: 80px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contenidoCont {
    display: flex;
    flex-direction: column;
    /* margin-right: 50px; */
}

.Contar h2 {
    background-color: rgb(33, 255, 222);
    width: 320px;
    /* height: 35px; */
    font-family: Comic Sans MS;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    border-radius: 20px;
    padding: 8px;
}

.Contar p {
    font-family: Comic Sans MS;
    font-size: 17px;
    width: 330px;
    padding: 0 0 0 5px;
}

.Contar img {
    width: 14%;
    height: auto;
    border: 1px solid gray;
    border-radius: 10px;
}

/*-----------------------------------------------------*/
.Escuchar {
    display: flex;
    align-items: center;
    background-color: #38b6ff;
    margin-bottom: 80px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contenidoEsc {
    display: flex;
    flex-direction: column;
    /* margin-right: 50px; */
}

.Escuchar h2 {
    background-color: rgb(225, 244, 15);
    width: 320px;
    /* height: 35px; */
    font-family: Comic Sans MS;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    border-radius: 20px;
    padding: 8px;
}

.Escuchar p {
    font-family: Comic Sans MS;
    font-size: 17px;
    width: 330px;
    padding: 0 0 0 5px;
}

.Escuchar img {
    width: 14%;
    height: auto;
    border: 1px solid gray;
    border-radius: 10px;
}

/* ----------------------------------------- */
.StarSec {
    text-align: center;
    font-family: Comic Sans MS;
    font-size: 17px;
    margin: 50px;
  }
.Vocales {
    display: flex;
    align-items: center;
    background-color: #38b6ff;
    margin-bottom: 80px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .contenidoVoc {
    display: flex;
    flex-direction: column;
  }
  
  .Vocales h2 {
    background-color: rgb(251, 188, 87);
    width: 320px;
    font-family: Comic Sans MS;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    border-radius: 20px;
    padding: 8px;
  }
  
  .Vocales p {
    font-family: Comic Sans MS;
    font-size: 17px;
    width: 330px;
    padding: 0 0 0 5px;
  }
  
  .Vocales img {
    width: 14%;
    height: auto;
    border: 1px solid gray;
    border-radius: 10px;
  }
  
  /*---------------------------------------------------*/
  
  .Abecedario {
    display: flex;
    align-items: center;
    background-color: #38b6ff;
    margin-bottom: 80px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .contenidoAbce {
    display: flex;
    flex-direction: column;
  }
  
  .Abecedario h2 {
    background-color: rgb(255, 255, 255);
    width: 320px;
    font-family: Comic Sans MS;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    border-radius: 20px;
    padding: 8px;
  }
  
  .Abecedario p {
    font-family: Comic Sans MS;
    font-size: 17px;
    width: 330px;
    padding: 0 0 0 5px;
  }
  
  .Abecedario img {
    width: 14%;
    height: auto;
    border: 1px solid gray;
    border-radius: 10px;
  }
  
  /*----------------------------------------------------*/
  
  .OracionesCom {
    display: flex;
    align-items: center;
    background-color: #38b6ff;
    padding-bottom: 100px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .contenidoOra {
    display: flex;
    flex-direction: column;
  }
  
  .OracionesCom h2 {
    background-color: rgb(235, 255, 15);
    width: 320px;
    font-family: Comic Sans MS;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    border-radius: 20px;
    padding: 8px;
  }
  
  .OracionesCom p {
    font-family: Comic Sans MS;
    font-size: 17px;
    width: 330px;
    padding: 0 0 10px 5px;
  }
  
  .OracionesCom img {
    width: 14%;
    height: auto;
    border: 1px solid gray;
    border-radius: 10px;
  }

/*---------------------------------------------------------*/
.boton {
    font-family: Comic Sans MS;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #7ed957;
    color: white;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 5px 0px #4da129;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: block;
    margin: 10px 80px;
}

.boton a {
    text-decoration: none;
    color: #fff;
}

.boton:hover {
    transform: translateY(-6px);
    box-shadow: 0px 8px 0px #4da129;
}

/* -------------Bocetos----------------- */
.inicioBocetos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-family: Comic Sans MS;
  font-size: 17px;
}

.inicioBocetos img {
  width: 30vw;
  border-bottom-right-radius: 6rex;
  border-bottom-left-radius: 60px;
}

.inicioBocetos p {
  width: 50%;
  margin: 0 5px;
  text-align: justify;
  padding: 10px;
  border: 2px solid rgb(95, 45, 244);
  border-radius: 15px;
  box-shadow: 0 0 6px 1px rgb(94, 42, 252);
}

/* Imagenes de bocetos de dibujo */
.contenedor-imagenes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 100px;
}
.imagen {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 50px;
}
.imagen img {
  width: 200px;
  height: 200px;
  max-width: 100%;
  transition: transform 0.4s ease;
}
.imagen img:hover{
  cursor: pointer;
  transform: scale(1.11);
}

.Pintar{
  background-color: #7ED957;
  padding: 10px 30px;
  border: none;
  border-radius: 30px;
  font-family: Comic Sans MS;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: #fff;
}
.Pintar:hover {
  transform: translateY(6px);
  box-shadow: 0px -5px 0px #4da129;
}

/* ----------------Dibujo---------------- */
.ImgDibujo img{
  width: 100%;
}
.InicioDibujo{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}
.InicioSeleccion{
  width: 50%;
}
.InicioSeleccion img{
  width: 40%;
}
.InicioInfo{
  width: 50%;
  border: 2px solid rgb(230, 255, 1);
  border-radius: 15px;
  box-shadow: 0 0 6px 1px rgb(230, 255, 1);
  margin: 0 20px;
}
.InicioInfo p{
  padding: 10px;
}

/* ---------------------------------------------- */

.Pizarra{
  background-color: #38B6FF;
  margin:  10px 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap-reverse;
}
.Opciones {
  background-color: #7dea4f;
  border-radius: 25px;
  width: 160px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Opciones input{
  margin:0 0 20px 0;
}
.Nota{
  padding-bottom: 100px;
}
.Nota p{
  background-color: rgb(245, 40, 88);
  margin: 30px 50px 0 50px;
  padding: 5px;
  text-align: center;
  border-radius: 25px;
}

/* --------------- */
.main-container{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas{
  background-color: #fff;
  border: 4px solid #7ed957;
  border-radius: 15px;
}
@media (max-width: 567px) {
  canvas{
      margin-bottom: 10px;
      width: 100%;
  }
}