body {
  background-image: url(Images/paisaje.webp);
  background-size: cover;
  background-repeat: no-repeat;
}
/* header------------------- */
.header {
    text-align: right;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-left: 5px solid #7ed957;
    border-right: 5px solid #7ed957;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #38b6ff;
    margin-bottom: -7px;
  }
  .logo{
    max-width: 15%;
    width: 15%;
  }
  @media (min-width: 1200px){
    .logo{
      width: 12%;
      padding: 5px;
    }
  }
  .TituloLema{
    display: flex;
    flex-direction: column;
    font-family: Comic Sans MS;
    text-transform: none;
    background: linear-gradient(yellow, white);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: text 7s linear infinite;
  }
  @keyframes text {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(160deg);
    }
  }
  .Titulo-Cabecera {
    font-size: 40px;
  }
  .Subtitulo-Cabecera {
    font-size: 20px;
  }
  @media (max-width: 767px){
    .Titulo-Cabecera{
      font-size: 32px;
    }
    .Subtitulo-Cabecera{
      font-size: 15px;
    }
  }
  /* ---------------------------------- */

  /* ----------------------------------------NAV */
.navbar.bg-body-tertiary {
    background-color: rgba(0, 0, 0, 0) !important;
    margin: 5px 0;  
  }
  .container-fluid{
    background-color: #38b6ff;
    border-radius: 10px;
    padding: 2px;
    border: 2px solid transparent;
    animation: borderChange 4s infinite;
  }
  .container-fluid li{
    font-family: Comic Sans MS;
    color: #fff;
  }
  .container-fluid a{
    color: #fff;
  }
  .container-fluid .navbar-toggler{
    border: 1px solid rgba(0, 0, 0, 0.505);
    background-color: #7ed957;
  }
  .container-fluid .dropdown-menu{
    margin: 0 auto;
    background-color: #169cea;
    border: 2px solid transparent;
    animation: borderChange 5s infinite;
  }
  @keyframes borderChange {
    0% {
      border-color: #ff5c5c; /* Color inicial del borde */
    }
  
    25% {
      border-color: #fedc1d; /* Cambio de color al 25% de la animación */
    }
  
    50% {
      border-color: #5eff5e; /* Cambio de color al 50% de la animación */
    }
  
    75% {
      border-color: #50ffd6; /* Cambio de color al 75% de la animación */
    }
  
    100% {
      border-color: #ff5c5c; /* Vuelve al color inicial al final de la animación */
    }
  }
  .container-fluid .dropdown-menu a:hover{
    background-color: #6dc9ff;
  }
  .container-fluid .navbar-nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  @media (max-width: 991px){
    .container-fluid .dropdown-menu{
     background-color: #1193de73;
    }
    .container-fluid .dropdown-menu a:hover{
      background-color: #6dc9ff;
    }
   }
   /* ---------------------------------------- */


/*--------------------- Footer -------------------- */
footer{
    padding-top: 150px;
    background-color: #38b6ff;
  }
  .SVG {
    margin-top: -100px;
    margin-bottom: -5px;
  }
  .Contacto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    max-width: 100%;
    background-color: #242528;
    font-family: Comic Sans MS;
    color: #fff;
    padding: 0 5px;
  }
  .Contacto h2 {
    background: linear-gradient(yellow, white);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: text 7s linear infinite;
  }
  @keyframes text {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(160deg);
    }
  }
  .Redes {
    display: block;
    flex-direction: column;
    height: 150px;
    padding: 0 5px;
  }
  .Redes a {
    text-decoration: none;
    color: #fff;
  }
  .Redes i {
    font-size: 30px;
    margin: 0 15px;
  }
  .Redes i:hover {
    cursor: pointer;
  }
  .Correo {
    display: block;
    flex-direction: column;
    height: 150px;
    padding: 0 5px;
  }
  .Telefono {
    display: block;
    flex-direction: column;
    height: 150px;
  }
  .Derechos {
    background-color: black;
    color: #fff;
    text-align: center;
    font-family: Arial;
    font-size: 10px;
    padding: 20px;
  }

  /* ------------------------------------- */

/* -----------Estilos secciones--------- */

.InfoSecciones {
    font-family: Comic Sans MS;
    font-size: 17px;
    background-color: #38b6ff;
    width: 100%;
    padding-top: 20px;
    margin: 15px 0 0 0;
  }
  /*---------------- Seccion de Numeros------------------ */
  .Secciones, .Secciones3 {
    max-width: 100%;
    width: 100%;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .Secciones img, .Secciones3 img{
    width: 60%;
    border-radius: 20px;
  }
  .Secciones p, .Secciones3 p{
    width: 40%;
    text-align: center;
    border: 2px solid #f52fff;
    border-radius: 15px;
    padding: 18px;
    box-shadow: 0px 0px 20px 0px #f52fff;
  }
  .Secciones3 p{
    border: 2px solid #190df9;
    box-shadow: 0px 0px 20px 0px #190df9;
  }
  @media (max-width: 991px){
    .Secciones, .Secciones3{
      flex-wrap: wrap;
    }
    .Secciones a, .Secciones3 a{
      display: flex;
      justify-content: center;
      margin-bottom: 5px; 
    }
    .Secciones P, .Secciones3 p{
      width: 80%;
    }
   }
  /*---------------- Seccion Letras y palabras------------------ */
  .TituloPag {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    background: #38b6ff;
    border-radius: 20px;
    font-family: Comic Sans MS;
    font-size: 25px;
    border: 2px solid #7ed957;
  }
  #fecha-actual {
    font-family: Comic Sans MS;
    font-size: 18px;
    color: yellow;
  }
  .Secciones2 {
    max-width: 100%;
    width: 100%;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin: 30px 0 30px 0;
  }
  .Secciones2 A{
    display: flex;
    justify-content: end;
  }
  .Secciones2 img {
    width: 60%;
    border-radius: 20px;
  }
  .Secciones2 p {
    width: 40%;
    text-align: center;
    border: 2px solid #94ff65;
    border-radius: 15px;
    padding: 18px;
    box-shadow: 0px 0px 20px 0px #94ff65;
  }
  @media (max-width: 991px){
    .Secciones2{
      flex-wrap: wrap-reverse;
    }
    .Secciones2 a{
      display: flex;
      justify-content: center;
      margin-bottom: 5px; 
    }
    .Secciones2 P{
      width: 80%;
    }
   }
   /* ------------------------------------- */